@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<section>
        <div class="row" style="padding-top:7%;">

        </div>
    </section>*@
<section id="Spot01" style="border-top:135px solid aliceblue;position: relative;">
    <div class="row" style="background-color:#e1ebf5;">
        <div class="col-sm-8" style="padding-top:450px;background-image: url('../../Content/Image/spot01.png'); background-position: center center; background-size: cover;">
            @*<img src="~/Content/Image/10.JPG" class="img-rounded" />*@<p><a href=""></a></p>
        </div>
        <div class="col-sm-4" style="padding-top:3%;">
            <h2 style="text-align:left;border-bottom: thin solid #808080;width: 14rem;padding-bottom:5px;padding-top:70px;margin-left:30px;">
                <!--original padding-top is 40px-->
                <strong>羅東夜市</strong><br />
            </h2>
            <div id="qualitycycle-wrapper" class="half-block toflip animated fl;ipInY">
                <div class="inner pad90" style="text-align:left;margin-bottom:50px;margin-left:50px;margin-right:60px;">
                    <p>
                        羅東夜市位於宜蘭縣羅東鎮，緊鄰中山公園四周，形成一個全年無休的夜市。
                        羅東鎮最繁華的商圈也以此處為中心，向外擴張。
                        每逢週末假日，人潮眾多，建議遊客先安排好停放愛車的位置（例如：民宿提供車位，再搭計程車前往），否則將耗時在周邊尋找車位。
                    </p>
                </div>
            </div>
            <div style="text-align:right;background-color:transparent;padding-bottom:3%;padding-right:2%;">
                <a href="IndexPage#attraction" style="font-size: 20px;text-decoration:none;color:#303c40;">
                    <img src="~/Content/SvgImage/logo20140129.png" />
                    back
                </a>
            </div>
        </div>

    </div>

</section>
<section id="Spot02" style="border-top:135px solid #e1ebf5;margin: -135px 0 0;">
    <div class="row" style="background-color:aliceblue;">

        <div class="col-sm-4" style="padding-top:3%;">
            <h2 style="text-align:left;border-bottom: thin solid #808080;width: 32rem;padding-bottom:5px;padding-top:70px;margin-left:30px;">
                <strong>蘋果花園複合式咖啡館</strong><br />
            </h2>

            <div id="qualitycycle-wrapper" class="half-block toflip animated fl;ipInY">
                <div class="inner pad90" style="text-align:left;margin-bottom:50px;margin-left:50px;margin-right:60px;">
                    <p>
                        位於羅東後火車站，去年新開幕的複合式咖啡館，廣受年輕人和上班族歡迎；
                        新穎的用餐環境搭配隨性的購物（男女服飾、配件、異國小物…等等）
                        店內屬高檔小奢華的裝潢，餐點價位$80-$280，份量足卻不貴，有著『服飾店裡的隱藏咖啡館』美稱。
                    </p>
                </div>
            </div>
            <div style="text-align:right;background-color:transparent;padding-top:5%;padding-right:2%;">
                <a href="IndexPage#attraction" style="font-size: 20px;text-decoration:none;color:#303c40;">
                    <img src="~/Content/SvgImage/logo20140129.png" />
                    back
                </a>
            </div>
        </div>
        <div class="col-sm-8" style="padding-top:450px;background-image: url('../../Content/Image/spot02.png'); background-position: center center; background-size: cover;">
            @*<img src="~/Content/Image/10.JPG" class="img-rounded" />*@<p><a href=""></a></p>
        </div>
    </div>
</section>

<section id="Spot03" style="border-top:135px solid aliceblue;margin: -135px 0 0;">
    <div class="row" style="background-color:#e1ebf5;">
        <div class="col-sm-8" style="padding-top:450px;background-image: url('../../Content/Image/spot03.png'); background-position: center center; background-size: cover;">
            @*<img src="~/Content/Image/10.JPG" class="img-rounded" />*@<p><a href=""></a></p>
        </div>
        <div class="col-sm-4" style="padding-top:3%;">
            <h2 style="text-align:left;border-bottom: thin solid #808080;width: 30rem;padding-bottom:5px;padding-top:70px;margin-left:30px;">
                <strong>
                    冬山河清水公園<br />
                    (國際童玩節會場)
                </strong><br />
            </h2>
            <div id="qualitycycle-wrapper" class="half-block toflip animated fl;ipInY">
                <div class="inner pad90" style="text-align:left;margin-bottom:50px;margin-left:50px;margin-right:60px;">
                    <p>
                        位於宜蘭縣五結鄉冬山河畔，於1987年開始建造，1994年6月落成。
                        親水公園主要設計理念，為結合冬山河之特性，以「親近水、擁有綠」為題，
                        並盡量運用宜蘭傳統建材，呈現既樸拙但又不失精緻的獨創風格。
                        親水公園內闢有無污染的環保電動船，來往國立傳統藝術中心，沿岸的水岸風光盡收眼底，也成了前往傳統藝術中心的熱門路線。
                    </p>
                </div>
            </div>
            <div style="text-align:right;background-color:transparent;padding-bottom:3%;padding-right:2%;">
                <a href="IndexPage#attraction" style="font-size: 20px;text-decoration:none;color:#303c40;">
                    <img src="~/Content/SvgImage/logo20140129.png" />
                    back
                </a>
            </div>
        </div>

    </div>

</section>
<section id="Spot04" style="border-top:135px solid #e1ebf5;margin: -135px 0 0;">
    <div class="row" style="background-color:aliceblue;">

        <div class="col-sm-4" style="padding-top:3%;">
            <h2 style="text-align:left;border-bottom: thin solid #808080;width: 27rem;padding-bottom:5px;padding-top:70px;margin-left:30px;">
                <strong>國立傳統藝術中心</strong><br />
            </h2>

            <div id="qualitycycle-wrapper" class="half-block toflip animated fl;ipInY">
                <div class="inner pad90" style="text-align:left;margin-bottom:50px;margin-left:50px;margin-right:60px;">
                    <p>
                        位於宜蘭縣五結鄉冬山河畔，佔地24公頃，主要任務為統籌、規劃、推動傳統藝術的調查、保存、傳習及推廣工作。
                        完整呈現古早味的傳統藝術中心，近年來吸引電影製片前往取景拍攝，如大稻埕的拍攝場景便來自傳統藝術中心，
                        園區內的吃喝玩樂充滿古早味，不但如此，整體環境營造出的魅力，讓此地成為很好拍照的場景喲！
                    </p>
                </div>
            </div>
            <div style="text-align:right;background-color:transparent;padding-top:5%;padding-right:2%;">
                <a href="IndexPage#attraction" style="font-size: 20px;text-decoration:none;color:#303c40;">
                    <img src="~/Content/SvgImage/logo20140129.png" />
                    back
                </a>
            </div>
        </div>
        <div class="col-sm-8" style="padding-top:450px;background-image: url('../../Content/Image/spot04.png'); background-position: center center; background-size: cover;">
            @*<img src="~/Content/Image/10.JPG" class="img-rounded" />*@<p><a href=""></a></p>
        </div>
    </div>
</section>

<section id="Spot05" style="border-top:135px solid aliceblue;margin: -135px 0 0;">
    <div class="row" style="background-color:#e1ebf5;">
        <div class="col-sm-8" style="padding-top:450px;background-image: url('../../Content/Image/spot05.png'); background-position: center center; background-size: cover;">
            @*<img src="~/Content/Image/10.JPG" class="img-rounded" />*@<p><a href=""></a></p>
        </div>
        <div class="col-sm-4" style="padding-top:3%;">
            <h2 style="text-align:left;border-bottom: thin solid #808080;width: 23rem;padding-bottom:5px;padding-top:70px;margin-left:30px;">
                <strong>冬山河自行車道</strong><br />
            </h2>
            <div id="qualitycycle-wrapper" class="half-block toflip animated fl;ipInY">
                <div class="inner pad90" style="text-align:left;margin-bottom:50px;margin-left:50px;margin-right:60px;">
                    <p>
                        顧名思義即是沿著冬山河畔的車道，路段從冬山火車站至親水公園附近五結大閘門之間，而車道兩旁以栽種風箱樹為主。
                        一年四季的多樣美景盡收眼底。
                    </p>
                </div>
            </div>
            <div style="text-align:right;background-color:transparent;padding-bottom:3%;padding-right:2%;">
                <a href="IndexPage#attraction" style="font-size: 20px;text-decoration:none;color:#303c40;">
                    <img src="~/Content/SvgImage/logo20140129.png" />
                    back
                </a>
            </div>
        </div>

    </div>

</section>
<section id="Spot06" style="border-top:135px solid #e1ebf5;margin: -135px 0 0;">
    <div class="row" style="background-color:aliceblue;">

        <div class="col-sm-4" style="padding-top:3%;">
            <h2 style="text-align:left;border-bottom: thin solid #808080;width: 23rem;padding-bottom:5px;padding-top:70px;margin-left:30px;">
                <strong>羅東林業文化園區</strong><br />
            </h2>

            <div id="qualitycycle-wrapper" class="half-block toflip animated fl;ipInY">
                <div class="inner pad90" style="text-align:left;margin-bottom:50px;margin-left:50px;margin-right:60px;">
                    <p>
                        羅東林業文化園區佔地約20公頃，目前規劃有自然生態池(貯木池)、水生植物池、
                        水生植物展示區(培育荷花、穗花棋盤腳、睡蓮等數十種水生植物)、
                        運材蒸汽火車頭展示區、森林鐵路、臨水木棧道等設施。
                        園區提供絕佳觀賞來往火車的觀賞點，吸引不少攝影師前往捕捉火車行駛在田野間的鄉村魅力。
                        除此之外，園區設有環池步道，是個全家大小散步踏青的好去處。
                    </p>
                </div>
            </div>
            <div style="text-align:right;background-color:transparent;padding-top:5%;padding-right:2%;">
                <a href="IndexPage#attraction" style="font-size: 20px;text-decoration:none;color:#303c40;">
                    <img src="~/Content/SvgImage/logo20140129.png" />
                    back
                </a>
            </div>
        </div>
        <div class="col-sm-8" style="padding-top:450px;background-image: url('../../Content/Image/spot06.png'); background-position: center center; background-size: cover;">
            @*<img src="~/Content/Image/10.JPG" class="img-rounded" />*@<p><a href=""></a></p>
        </div>
    </div>
</section>

<section id="Spot07" style="border-top:135px solid aliceblue;margin: -135px 0 0;">
    <div class="row" style="background-color:#e1ebf5;">
        <div class="col-sm-8" style="padding-top:450px;background-image: url('../../Content/Image/spot07.png'); background-position: center center; background-size: cover;">
            @*<img src="~/Content/Image/10.JPG" class="img-rounded" />*@<p><a href=""></a></p>
        </div>
        <div class="col-sm-4" style="padding-top:3%;">
            <h2 style="text-align:left;border-bottom: thin solid #808080;width: 22rem;padding-bottom:5px;padding-top:70px;margin-left:30px;">
                <strong>羅東文化工場</strong><br />
            </h2>
            <div id="qualitycycle-wrapper" class="half-block toflip animated fl;ipInY">
                <div class="inner pad90" style="text-align:left;margin-bottom:50px;margin-left:50px;margin-right:60px;">
                    <p>
                        羅東文化工場為了不擋到四周互望的視線，在一座淨高18公尺的大棚架下，
                        以突破傳統思維的方式，將天空藝廊“吊起來”。
                        這樣的呈現方式，表達了把一切留給公共，遊走其間到處透出山色的簡單心願，
                        點出了宜蘭公共工程還地於民的心胸。
                        著名的金馬獎曾在此地舉辦，為這座落於市區的藝術品增添幾分金光閃閃的魅力。
                    </p>
                </div>
            </div>
            <div style="text-align:right;background-color:transparent;padding-bottom:3%;padding-right:2%;">
                <a href="IndexPage#attraction" style="font-size: 20px;text-decoration:none;color:#303c40;">
                    <img src="~/Content/SvgImage/logo20140129.png" />
                    back
                </a>
            </div>
        </div>

    </div>

</section>
<section id="Spot08" style="border-top:135px solid #e1ebf5;margin: -135px 0 0;">
    <div class="row" style="background-color:aliceblue;">

        <div class="col-sm-4" style="padding-top:3%;">
            <h2 style="text-align:left;border-bottom: thin solid #808080;width: 22rem;padding-bottom:5px;padding-top:70px;margin-left:30px;">
                <strong>羅東運動公園</strong><br />
            </h2>

            <div id="qualitycycle-wrapper" class="half-block toflip animated fl;ipInY">
                <div class="inner pad90" style="text-align:left;margin-bottom:50px;margin-left:50px;margin-right:60px;">
                    <p>
                        位於宜蘭縣羅東鎮近郊，歷經7年的建造，是座充滿運動設施、綠地以及親水設計的休憩場所。
                        運動公園佔地47公頃，有著開闊的草地以及扶疏的林木，籃球場、網球場、棒球場、
                        田徑場、游泳池等等設施座落其中，並有交橫的流水及湖泊串聯各項景觀。
                    </p>
                </div>
            </div>
            <div style="text-align:right;background-color:transparent;padding-top:5%;padding-right:2%;">
                <a href="IndexPage#attraction" style="font-size: 20px;text-decoration:none;color:#303c40;">
                    <img src="~/Content/SvgImage/logo20140129.png" />
                    back
                </a>
            </div>
        </div>
        <div class="col-sm-8" style="padding-top:450px;background-image: url('../../Content/Image/spot08.png'); background-position: center center; background-size: cover;">
            @*<img src="~/Content/Image/10.JPG" class="img-rounded" />*@<p><a href=""></a></p>
        </div>
    </div>
</section>

<section id="Spot09" style="border-top:135px solid aliceblue;margin: -135px 0 0;">
    <div class="row" style="background-color:#e1ebf5;">
        <div class="col-sm-8" style="padding-top:450px;background-image: url('../../Content/Image/spot09.png'); background-position: center center; background-size: cover;">
            @*<img src="~/Content/Image/10.JPG" class="img-rounded" />*@<p><a href=""></a></p>
        </div>
        <div class="col-sm-4" style="padding-top:3%;">
            <h2 style="text-align:left;border-bottom: thin solid #808080;width: 22rem;padding-bottom:5px;padding-top:70px;margin-left:30px;">
                <strong>羅東中山公園</strong><br />
            </h2>
            <div id="qualitycycle-wrapper" class="half-block toflip animated fl;ipInY">
                <div class="inner pad90" style="text-align:left;margin-bottom:50px;margin-left:50px;margin-right:60px;">
                    <p>
                        創設於日治時期，因位於羅東繁華商業圈，格外的突顯這塊身在市區中的一片綠。
                        公園的四周集結眾多的攤販，就是知名的「羅東觀光夜市」，
                        無論平假日都吸引當地人與各地慕名而來的觀光客來此地朝聖在地的美食！
                        每逢週末假日，人潮眾多，建議遊客先安排好停放愛車的位置（例如：民宿提供車位，再搭計程車前往）
                        ，否則將耗時在周邊尋找車位。
                    </p>
                </div>
            </div>
            <div style="text-align:right;background-color:transparent;padding-bottom:3%;padding-right:2%;">
                <a href="IndexPage#attraction" style="font-size: 20px;text-decoration:none;color:#303c40;">
                    <img src="~/Content/SvgImage/logo20140129.png" />
                    back
                </a>
            </div>
        </div>

    </div>

</section>
