@{
    ViewBag.Title = "IndexPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<article id="post-6" class="post-6 page type-page status-publish has-post-thumbnail hentry">
    <section class="front-page__intro block block--fixed-height block--right block--dark animation">
        <div class="block__wrapper__outer container">
            <div class="block__wrapper__inner row">
                <div class="block__content col-xs-12 col-sm-6">
                    <header class="block__header">
                        <h1 class="block__title">
                            We Are <span class="br"></span>Electric Pulp.
                        </h1>
                        <h2 class="block__subtitle">We create beautiful things <span class="br"></span>for web<span class="ampersand"> & </span>mobile.</h2>
                    </header><!-- .block__header -->
                    <div class="block__content__summary">
                        <p>Whether you’re selling products or telling stories, <span class="br"></span>we can help you set the stage.</p>
                        <p>Have an idea? <a href="#contact">We’d love to hear more</a>.</p>
                    </div><!-- .block__content__content -->
                </div><!-- .block__content -->
                <a class="front-page__intro__arrow">Scroll down</a>
            </div><!-- .block__wrapper__inner -->
        </div><!-- .block__wrapper__outer -->
    </section><!-- .front-page__intro.block -->
    <div class="front-page__featured-work">
        <article id="post-391" class="post-391 work type-work status-publish has-post-thumbnail hentry block animation block--light block--has-thumbnail">
            <div class="block__image">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="http://electricpulp.com/wp/wp-content/uploads/2014/11/lo-and-sons-walk.jpg" media="(min-width: 1024px)">
                    <source srcset="http://electricpulp.com/wp/wp-content/uploads/2014/11/lo-and-sons-walk-1024x812.jpg, http://electricpulp.com/wp/wp-content/uploads/2014/11/lo-and-sons-walk.jpg 2x" media="(min-width: 300px)">
                    <source srcset="http://electricpulp.com/wp/wp-content/uploads/2014/11/lo-and-sons-walk-300x238.jpg, http://electricpulp.com/wp/wp-content/uploads/2014/11/lo-and-sons-walk-1024x812.jpg 2x">
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="http://electricpulp.com/wp/wp-content/uploads/2014/11/lo-and-sons-walk-300x238.jpg, http://electricpulp.com/wp/wp-content/uploads/2014/11/lo-and-sons-walk-1024x812.jpg 2x" alt="">
                </picture>
            </div><!-- .block__image -->
            <div class="block__wrapper">
                <div class="block__wrapper__outer container">
                    <div class="block__wrapper__inner row">
                        <div class="block__content col-xs-12 col-sm-5">
                            <header class="block__header block__header--label">
                                <p class="block__label">Featured Case Study</p>
                                <h1 class="block__title">
                                    <a href="http://electricpulp.com/work/lo-and-sons/" rel="bookmark">
                                        Ecommerce To Go for Lo <span class="ampersand">&amp;</span> Sons
                                    </a>
                                </h1>
                            </header><!-- .block__header -->
                            <div class="block__content__summary">
                                <ul>
                                    <li>
                                        <a href="http://electricpulp.com/work/lo-and-sons/" class="block__button btn btn-default" rel="bookmark">
                                            View Case Study
                                        </a>
                                    </li>
                                    <li><a href="http://electricpulp.com/work/" class="block__button btn btn-default">Other Examples</a></li>
                                </ul>
                            </div><!-- .block__content__summary -->
                        </div><!-- .block__content -->
                    </div><!-- .block__wrapper__inner.row -->
                </div><!-- .block__wrapper__outer.container -->
            </div><!-- .block__wrapper -->
        </article><!-- .front-page__featured-work -->
    </div><!-- .front-page__featured-work -->
    <section class="front-page__services animation">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-5">
                    <header class="block__header block__header--label block--dark">
                        <p class="front-page__services__label block__label">Our Services</p>
                        <h1 class="front-page__services__title block__title">We Want You to Get the Best of Us</h1>
                    </header>
                    <ul class="front-page__services__list">
                        <li class="front-page__services__list__item--web">Web</li>
                        <li class="front-page__services__list__item--mobile">Mobile</li>
                        <li class="front-page__services__list__item--ecommerce">ECommerce</li>
                    </ul>
                </div>
                <div class="front-page__services__content col-xs-12 col-sm-6 col-sm-push-1">
                    <h2>We Build Websites</h2>
                    <p>Electric Pulp is an interactive firm specializing in creative solutions for web and mobile. We balance nimble thinking with smart work to make a big impact on rapid timelines.</p>
                    <h3>WEB</h3>
                    <p>A lot has changed since we set out in 1996, but we’ve always focused on providing high-end web design and development for clients of all sizes. Take a spin through our <a href="/work/">portfolio</a> to get an idea of the care we put into our projects.</p>
                    <h3>MOBILE</h3>
                    <p>Mobile is a broad category. We do native iOS (and Mac) development, but it’s more likely you’ll find our mobile work with a web browser. We’re champions of Responsive Web Design, and we pride ourselves on our ability to optimize our work for all devices / screens.</p>
                    <h3>ECOMMERCE</h3>
                    <p>If you spend any time looking through our <a href="/work/">case studies</a>, you’ll notice we do a fair share of ecommerce work. We were one of the very first teams creating <a href="/notes/you-like-apples/">Responsive Magento sites</a>. Our ecommerce work reaches back much further than that, though. We&#8217;ve been helping clients connect with customers for nearly two decades.</p>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </section><!-- .front-page__services -->
</article><!-- #post-6 -->
